
@import "../../../../popcorn-theme";

.c-btn {
    transition: all 0.5s;
    color: rgb(205, 205, 206);
    background-color: #212121;
    font-size: $font-size-1;
    font-weight: 400;
    border: 1px solid rgb(205, 205, 206);
    border-radius: 0;
  }
  