@import "../../../../variables";

mat-toolbar {
  display: grid;
  grid-template-areas:
  "hamburger logo account_btn menu_btn"
  "search search search search";
  grid-template-columns: 1fr 4fr 0.5fr 0.5fr;
  grid-column-gap: 1em;
  justify-items: center;
  align-items: center;
  background-color: $primary-dark;
  height: fit-content;
  padding: 0 15%;
  font-size: $font-size-base;
}


   @media (max-width: 600px) {
    *{
     color:red;
    }
  mat-toolbar {
    grid-template-areas: "hamburger logo  account_btn menu_btn";
    grid-template-columns: 1fr 2fr 1fr 1fr;
     
     padding: 0 7%;
    }
   .btn_group {
     display: none;
    }
     #search {
     display: none;
   }
   #logo {
     grid-template-columns: 4fr;
     min-width: 100%;
    }
  }

  // @media (max-width: 1200px) {
  //   *{
  //     color:blue;
  //   }
  //   mat-toolbar {
  //     grid-template-areas: "logo account_btn menu_btn ";
  //     grid-template-columns: 1fr 1fr 1fr;
  //     grid-column-gap: 1em;
  //     font-size: $font-size-5;
  //     padding: 0 7%;
  //   }
  // }

  #logo {
    max-height: 100%;
    grid-area: logo;
    border-radius: 2px;
  }

  #new_movie1 {
    grid-area: new_movie1;
  }

  #new_movie2 {
    grid-area: new_movie2;
  }

  #new_movie3 {
    grid-area: new_movie3;
  }

  #search {
    grid-area: search;
    width: 100%;
    background-color: white;
    max-height: 60%;
    color: $primary-dark-font;
    font-size: $font-size-base;
    padding-bottom: 10px;
    line-height: 30px;
    border-radius: 2px;
  }

  #account_btn {
    grid-area: account_btn;
    justify-self: center;
    align-self: center;
  }

  #menu_btn {
    grid-area: menu_btn;
  }

  #hamburger {
    grid-area: hamburger;
        justify-self: baseline;
  }

  #btn_group {
    display: grid;
    grid-template-areas: "new_movie1 new_movie2 new_movie3";
    grid-template-columns: repeate(3, 1fr);
    grid-column-gap: 1em;
    justify-items: center;
    align-items: center;
    width: 100%;
  }


// .nav_btn {
//   color: $primary-font;
//   border-radius: 0;
//   &:hover {
//     border-bottom: 4px solid $accent;
//   }
// }
// .mat-toolbar {
//   background-color: $primary;
// }

.nav_btn {
  color: $primary-font;
  border-radius: 0;
  &:hover {
    border-bottom: 4px solid $accent;
  }
}
.mat-toolbar {
  background-color: $primary;
}
