@import "../../../../popcorn-theme";

mat-toolbar {
  display: grid;
  grid-template-areas: " logo  btn_group search account_btn menu_btn ";
  grid-template-columns: 1fr 4fr 4fr 0.3fr 0.3fr;
  grid-column-gap: 1em;
  justify-items: center;
  align-items: center;
  background-color: #212121;
  height: 49px;
  padding: 0 15%;
  font-size: $font-size-base;
  
  @media (max-width: 640px) {
    .grid {
      display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding: 8px;
    }
    .grid-item { display: none; }}
    



  #logo {
    max-height: 100%;
    grid-area: logo;
    border-radius: 10px;
    padding:  6px;
    
  }

  #new_movie1 {
    grid-area: new_movie1;
  }

  #new_movie2 {
    grid-area: new_movie2;
  }

  #new_movie3 {
    grid-area: new_movie3;
  }

  #search {
    grid-area: search;
    width: 100%;
    background-color: white;
    max-height: 60%;

    color: l$primary-dark-font;
    font-size: $font-size-base;
    padding-bottom: 10px;

    line-height: 30px;
    border-radius: 2px;
  }

  #search_button {
    grid-area: search;
    float: right;
  }

  #account_btn {
    grid-area: account_btn;
    justify-self: center;
    align-self: center;
    @extend %all_btn;
  }

  #menu_btn {
    grid-area: menu_btn;
    @extend %all_btn;
  }

  #btn_group {
    display: grid;
    grid-template-areas: "new_movie1 new_movie2 new_movie3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    justify-items: center;
    align-items: center;
    width: 100%;
    @extend %all_btn;
  }
}
%all_btn {
  color: $primary-dark-font;
}

.nav_btn {
  color: $primary-font;
  border-radius: 0;
  &:hover {
    border-bottom: 4px solid $accent;
  }
}
.mat-toolbar {
  background-color: $primary-dark;
}