@import "../../../../popcorn-theme";

.main-wraper {
  max-width: 750px;
  margin: 0 20vh;
}

mat-toolbar {
  display: grid;
  grid-template-areas: "categories filters release_year genres rating reset ";
  grid-template-columns: auto auto auto auto auto auto 1fr 1fr;
  grid-column-gap: 1em;
  background-color: red;
  font-size: 1em;
  color: $primary-font;
  padding: 0 var(--global-padding);
  #categories {
    grid-area: categories;
  }

  #filters {
    grid-area: filters;
  }

  #release_year {
    grid-area: release_year;
  }

  #genres {
    grid-area: genres;
  }
  #rating {
    grid-area: rating;
  }
  #reset {
    grid-area: reset;
    color: #585858;
  }
}

.mat-flat-button {
  color: $primary-font;
  background: none;
  text-transform: uppercase;
}
