@import "../../../../variables";


.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  z-index:10;
}
// .example-container{
//   position: absolute;
//   background-color: transparent;
//   width:100vh;
//   height: 100vh;
// }

// https://www.w3schools.com/cssref/css_units.asp

.main-wraper {
  max-width: 750px;
  margin: 0 20vh;
}

mat-toolbar {
  display: grid;
  grid-template-areas: "categories filters";
  grid-template-columns: repear(2,fr);
  // grid-template-areas: "categories filters release_year genres rating reset ";
  // grid-template-columns: auto auto auto auto auto auto 1fr 1fr;

  grid-gap: 1em;
  font-size: $font-size-base;
  color: $primary-font;
  padding: 0 15%;
}

#categories {
  grid-area: categories;
}

#filters {
  grid-area: filters;
  color: $primary-dark-font;
}

#release_year {
  grid-area: release_year;
}

#genres {
  grid-area: genres;
}
#rating {
  grid-area: rating;
}
#reset {
  grid-area: reset;
  color: $primary-dark-font;
}

.mat-flat-button {
  color: $primary-font;
  background: none;
  text-transform: uppercase;
}
.mat-toolbar {
  background-color: $primary-dark;
}

#logo {
  max-height: 50px;
  grid-area: logo;
  border-radius: 10px;
  padding: 6px;
}

h2 {
  font-size: $font-size-3;
  color: $primary-font;
  font-weight: 500;
  letter-spacing: 0.0125em;
}
.mat-flat-button {
  color: $primary-dark-font;
  background: none;
  text-transform: uppercase;
}

.mat-menu-panel {
  padding: 18px;
}

//phone
// @media (max-width: 599px) {
//   mat-toolbar {
//     display: grid;
//     grid-template-areas: "categories filters reset ";
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-gap: 1em;

//     padding: 1% 7%;
//   }
//   .show-lg-up {
//     display: none;
//   }
// }
// @media (min-width: 600px) {
//   mat-toolbar {
//     display: grid;
//     grid-template-areas: "categories filters reset ";
//     grid-template-columns: 1fr 1fr 1fr;

//     padding: 0 15%;
//   }
//   .show-lg-up {
//     display: none;
//   }
// }
// @media (min-width: 900px) {
//   mat-toolbar {
//     display: grid;
//     grid-template-areas: "categories filters reset ";
//     grid-template-columns: 1fr 1fr 1fr;

//     padding: 0 15%;
//   }
//   .show-lg-up {
//     display: none;
//   }
// }

// @media (min-width: 1200px) {
//   mat-toolbar {
//     display: grid;
//     grid-template-areas: "categories filters release_year genres rating reset ";
//     grid-template-columns: 1fr 1fr 1fr;

//     padding: 0 15%;
//   }
//   .show-lg-up {
//     display: inline;
//   }
// }

