<footer class="page-footer font-small special-color-dark pt-4">
  <div class="container text-center text-md-left">
      <hr />
    <div class="row">
      <div class="col-md-3 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Top 5 movies</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Avengers: Infinity War</a>
          </li>
          <li>
            <a href="#!">Murder on the Orient Express</a>
          </li>
          <li>
            <a href="#!">Ralph Breaks the Internet</a>
          </li>
          <li>
            <a href="#!">Spider-Man: Into the Spider-Verse</a>
          </li>
          <li>
            <a href="#!">Bohemian Rhapsody </a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none" />

      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
          Top 5 actresses
        </h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none" />

      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Top 5 actors</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none" />

      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
          Top 5 providers
        </h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Netflix</a>
          </li>
          <li>
            <a href="#!">HBO GO</a>
          </li>
          <li>
            <a href="#!">Amazon</a>
          </li>
          <li>
            <a href="#!">Viaplay</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>

  <div class="footer-copyright text-center py-3">
    © 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Popcorn.com</a>
  </div>
</footer>
