@import "../../../popcorn-theme";
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $primary-dark;
}

h5 {
  font-size: $font-size-5;
  color: $accent;
}

a {
  font-size: $font-size-5;
  color: $primary-font;
}
