// ::ng-deep .release-year {
    ::ng-deep  mat-menu-content{

        display: grid;
        grid-template-areas:
        "title title title reset"   
        "startYear slider slider endYear"
        "btn1 btn1 btn2 btn2";
        background-color: #212121;
   // }
     
    .reset {
        grid-area: reset;
    }
    .startYear {
        grid-area: startYear;
    }
    .slider {
        grid-area: slider;
    }
    .endYear {
        grid-area: endYear;
    }
    
    .thisYearBtn {
        grid-area: btn1;
    }
    
    .lastYearBtn {
        grid-area: btn2;
    }
    
 }

 .release-year{
    border: var(--border-size) solid #6d6d6d;
    transition: all 0.5s;
    
    color: #6d6d6d;
    background-color: #212121;
    --border-size: .5px;
    }

