mat-toolbar {
  display: grid;
  grid-template-areas: "logo new_movie1 new_movie2 new_movie3 search search_button account_btn menu_btn";
  grid-template-columns: 1fr 1fr 1fr 1fr 4fr 0.3fr 0.3fr;
  grid-column-gap: 1em;
  justify-items: center;
  align-items: center;
  background-color: rgb(250, 200, 51);

  #logo {
    max-height: 100%;
    grid-area: logo;
  }

  #new_movie1 {
    grid-area: new_movie1;
  }

  #new_movie2 {
    grid-area: new_movie2;
  }

  #new_movie3 {
    grid-area: new_movie3;
  }

  #search {
    grid-area: search;

    font-size: 1rem;
    overflow: hidden;
    width: 400px;
    vertical-align: middle;
    white-space: nowrap;
    background: rgb(247, 235, 202);
    padding-left: 15px;
  }
  #search_button {
    grid-area: search;
    float: right;
    
  }
  #account_btn {
    grid-area: account_btn;
    justify-self: center;
    align-self: center;
  }

  #menu_btn {
    grid-area: menu_btn;
  }
}
