<mat-toolbar >
    <img id="logo" src="assets/images/1.2.jpg" alt="Logo">
   
    <button id="new_movie1"  mat-button>NEW</button>
    <button id="new_movie2"  mat-button>POPULAR</button>
    <button id="new_movie3"  mat-button>WATCHLIST</button>
    
    

  
    <input id="search" matInput type="text" placeholder="Search for movies">

    <button id="search_button" mat-icon-button aria-label="search_button">
            <mat-icon>search</mat-icon>
          </button>
  

    <button id="account_btn" mat-icon-button aria-label="Account">
        <mat-icon>account_circle</mat-icon>
    </button>

    <button id="menu_btn" mat-icon-button aria-label="Menu">
            <mat-icon>more_vert</mat-icon>
    </button>

</mat-toolbar>
<hr style="border: 0px; background: rgb(242, 183, 36); height: 1px; margin:0">