#image_container{
width: 100%;
padding-bottom: 42%;
background-color: var(--popcorn-primary);
background-image: url("https://images.justwatch.com/poster/86829625/s166");

display: grid;
grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    
    justify-items: center;
}
