<mat-sidenav-container class="example-sidenav-container" autosize hasBackdrop>
    <mat-sidenav #snav mode="over" autoFocus fixedInViewport>
        <div class="sidenav-content">
            <app-release-year-content></app-release-year-content>
            <app-rating-content></app-rating-content>
            <app-genres-content></app-genres-content>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-filter-wrap (toogle)="toogleSidenav($event)"></app-filter-wrap>
        <app-main-content></app-main-content>
    </mat-sidenav-content>
</mat-sidenav-container>
