mat-button-toggle-group {
  --border-size: .5px;

  box-shadow: none;
  mat-button-toggle {
    border: var(--border-size) solid rgb(205, 205, 206);
    transition: all 0.5s;
    border-right: none;
    color: rgb(205, 205, 206);
    background-color: #212121;

    &:active {
      color: rgb(205, 205, 206);
      outline: none;
      box-shadow: none;
    }
    &:last-child{
      border-right: var(--border-size) solid rgb(205, 205, 206);
    }
  }
}
.nav_btn {
  color:rgb(205, 205, 206);
   border-radius: 0;
   &:hover {
    border-bottom: 4px solid #fcb500;
}}

