.main-wraper{
  max-width: 750px;
  margin: 0 20vh;
}

mat-toolbar{
  display: grid;
  grid-template-areas: "categories filters release_year genres rating year";
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  font-size: 1em;
 

  #categories {
    grid-area: categories;
    
  }
 
  

  #filters {
    grid-area: filters;
  }

  #release_year {
    grid-area: release_year;
  }

  #genres {
    grid-area: genres;
  }
  #rating {
    grid-area: rating;
  }
  #year {
    grid-area: year;
  }


}
