<mat-toolbar color="primary">

<mat-button-toggle-group  appearance="legacy" id="categories" name="filtrCategory">
  <mat-button-toggle value="all" color="primary">All</mat-button-toggle>
  <mat-button-toggle value="movies">Movies</mat-button-toggle>
  <mat-button-toggle value="tv_serials">TV Serials</mat-button-toggle>
</mat-button-toggle-group>

<button id="filters"  mat-button><i class="fas fa-filter"></i>
  FILTERS</button>

<app-release-year id="release_year"></app-release-year>

 <app-genres id="genres"></app-genres>
   
<app-rating id="rating"></app-rating>
  
<app-year id="year"></app-year>
        
</mat-toolbar>


