mat-toolbar {
  display: grid;
  grid-template-areas: "logo btn_group search account_btn menu_btn";
  grid-template-columns: 1fr 4fr 4fr 0.3fr 0.3fr;
  grid-column-gap: 1em;
  justify-items: center;
  align-items: center;
  background-color: black;

  height: 3em;  

  #logo {
    max-height: 100%;
    grid-area: logo;
  }

  #new_movie1 {
    grid-area: new_movie1;
  }

  #new_movie2 {
    grid-area: new_movie2;
  }

  #new_movie3 {
    grid-area: new_movie3;
  }

  #search {
    grid-area: search;
    width: 100%;
    background-color:white;
    max-height: 70%;
    border-radius: 10px;
    color: lightslategray;
  }

  #search_button {
    grid-area: search;
    float: right;
  }

  #account_btn {
    grid-area: account_btn;
    justify-self: center;
    align-self: center;
    color: white;
  }

  #menu_btn {
    grid-area: menu_btn;
    color: white;
  }

#btn_group{
  display: grid;
  grid-template-areas: "new_movie1 new_movie2 new_movie3";
  grid-template-columns: 1fr 1fr 1fr ;
  grid-column-gap: 1em;
  justify-items: center;
  align-items: center;
  width: 100%;
  color: white;
  &:hover{
    color: #F4FF81;
  }
}
 
}