<div class="movie" *ngIf="movie">
  <!-- routerLink="poster"  -->
  <app-details-photo
    [src]="getImagePath(movie.poster_path)"
    [rating]="rating"
  ></app-details-photo>
  <a [href]="movie.homepage"
  ><h1 class="movie_title movie_info">{{ movie.title }}</h1>
  
</a>
  <a [href]="movie.homepage"
    ><h1 class="movie_title movie_info">{{ movie.title }}</h1>
    <h2 class="movie_relase_date">({{ movie.release_date }})</h2>
  </a>
  
  <div class="movie_overview movie_info">
    <app-details-infos [src]="movie.overview"></app-details-infos>
   
    <ul *ngIf="0 < movie.spoken_languages.length"  class="movie_info">
      <li
        class="movie_spoken_languages "
        *ngFor="let language of movie.spoken_languages"
      >
      <span class="text_highlighting">SPOKEN LANGUGES</span> <br> {{ language.name }}
      </li>
    </ul>

    
    <ul *ngIf="0 < movie.production_countries.length"  class="movie_info">
      <li
        class="movie_production_countries"
        *ngFor="let country of movie.production_countries"
      >
      <span class="text_highlighting">PRODUCTION COUNTRY</span> <br> {{ country.name }}
      </li>
    </ul>
<ul  class="movie_info"> <li>
    <span class="text_highlighting">MOVIE BUDGET  </span><br>
    <h2 class="movie_budget">{{ movie.budget }}</h2>
  </li>
    </ul>
    <ul  class="movie_info"> <li>
    <span class="text_highlighting">TAGIALINE</span><br>
    <h2 class="movie_tagline">{{ movie.tagline }}</h2>
  
  </li>
</ul>
<ul  class="movie_info"> <li>
  <span class="text_highlighting">WATCH ON <br> 
    <a href="https://www.netflix.com/no-en/"><img  class= "budget" src="http://fanmovie.info/images/provider/netflix.jpeg" alt="Logo" /></a>
    <a href="https://www.primevideo.com"></a><img  class= "budget" src="http://fanmovie.info/images/provider/amazon-prime-video.jpeg" alt="Logo" /></a>
    <a href="https://www.hulu.com/welcome?orig_referrer=https%3A%2F%2Fwww.google.com%2F"></a><img  class= "budget" src="http://fanmovie.info/images/provider/hulu.jpeg" alt="Logo" /></a>
    <a href="https://www.netflix.com/no-en/"></a><img  class= "budget" src="http://fanmovie.info/images/provider/hbo-now.jpeg" alt="Logo" /></a>
    <a href="https://www.netflix.com/no-en/"></a><img  class= "budget" src="http://fanmovie.info/images/provider/youtube.jpeg" alt="Logo" /></a>
    <a href="https://www.netflix.com/no-en/"></a><img  class= "budget" src="http://fanmovie.info/images/provider/google-play-movies.jpeg" alt="Logo" /></a>
    <a href="https://www.netflix.com/no-en/"></a><img  class= "budget" src="http://fanmovie.info/images/provider/apple-itunes.jpeg" alt="Logo" /></a>
    <a href="https://www.netflix.com/no-en/"></a><img  class= "budget" src="http://fanmovie.info/images/provider/amazon-video.jpeg" alt="Logo" /></a>
   </span></li>
  </ul>
  <!-- <app-details-slide [productionCompanies]="movie.production_companies"></app-details-slide> -->
</div></div>

<!--  <app-details-infos [src]="movie.release_date" >Release date</app-details-infos >
 <app-details-infos [src]="movie.runtime" >Runtime</app-details-infos>
 
 <app-details-infos [src]="movie.tagline" >Tagline</app-details-infos>-->
