mat-button-toggle-group {
  --border-size: .5px;

  box-shadow: none;
  mat-button-toggle {
    border: var(--border-size) solid #6d6d6d;
    transition: all 0.5s;
    border-right: none;
    color: #6d6d6d;
    background-color: #212121;

    &:active {
      color: white;
      outline: none;
      box-shadow: none;
    }
    &:last-child{
      border-right: var(--border-size) solid #6d6d6d;
    }
  }
}
