@import "../../../../popcorn-theme";

.card {
  width: 33%;
  height: 100%;
  //position: absolute;
  top: 0;
}
.c-btn {
  transition: all 0.5s;
  color: $primary-font;
  background-color: $primary;
  font-size: $font-size-base;
  font-weight: 400;
  border: 1px solid $primary-font;
}
