@import "../../../../../popcorn-theme";

input {
  width: 100%;
  background-image: url(https://image.flaticon.com/icons/png/512/55/55369.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20px;
  height: 50%;

  transition: border-color 0.2s linear;
  border: solid 2px transparent;
  padding: 4px 55px 4px 55px;

  border-radius: 2px;

  &:focus {
    border: 1px solid #fcb500;
  }
}
