// Colors
$primary: #141414;
$primary-dark: #070707;
$primary-light: #3b3b3b;
$accent: #fcb500;
$primary-font: #e3e3e3;
$primary-dark-font: #adadad;

// Font size
$font-size-base: 1rem;
$font-size-1: $font-size-base * 3; // ~48px
$font-size-2: $font-size-base * 1.5; // ~24px
$font-size-3: $font-size-base * 1.125; // ~18px
$font-size-4: $font-size-base * 1; // ~16px
$font-size-5: $font-size-base * 0.875; // ~14px
$font-size-6: $font-size-base * 0.75; // ~12px
$font-size-7: $font-size-base * 0.625; // ~10px


$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-lg: 1.8;

// Siatka
$grid-base: 10px;
$gutter: $grid-base * 1.5;

// Zaokroglenia
$border-radius: $grid-base * 0.5;

// Breakpoint
$bp-medium: "800px";
$bp-large: "1200px";



// Themes
@import "~@angular/material/theming";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$popcorn-app-primary: mat-palette($mat-gray, 800);
$popcorn-app-accent: mat-palette($mat-yellow, 500);

// The warn palette is optional (defaults to red).
$popcorn-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$popcorn-app-theme: mat-light-theme(
  $popcorn-app-primary,
  $popcorn-app-accent,
  $popcorn-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($popcorn-app-theme);

@mixin mix-app-theme($app-theme) {
  $primary-pallet: map-get($app-theme, primary);
  $accent-pallet: map-get($app-theme, accent);
  $warn-pallet: map-get($app-theme, warn);

  :root {
    --popcorn-primary: #{mat-color($primary-pallet)};
    --popcorn-primary-dark: #{mat-color($accent-pallet, darker-contrast)};
    --popcorn-primary-light: #{mat-color($accent-pallet, default-contrast)};
    --popcorn-accent: #{mat-color($accent-pallet)};
    --popcorn-warn: #{mat-color($warn-pallet)};
  }
  .mat-menu-content {
    background-color: mat-color($primary-pallet);
  }
  .mat-button-toggle {
    background-color: mat-color($primary-pallet);
    color: mat-color($primary-pallet, lighter-contrast);
  }
  
  .mat-button-toggle-checked {
    background-color: mat-color($accent-pallet);
    color: mat-color($accent-pallet, darker-contrast);
  }

  .mat-stroked-button.alfa{
    transition: all 0.5s;
    color: $primary-dark-font;
    border-radius: 0;
    font-size: 1em;
    font-weight: 400;
    border: 0.7px solid $primary-light;
    margin: 4px;
  }

}

@include mix-app-theme($popcorn-app-theme);

html,
body {
  
  @media only screen and (min-width: 1000px) {
    --global-padding: 8em;
  }
  @media only screen and (min-width: 600px) {
    --global-padding: 5em;
  }
  @media only screen and (max-width: 600px) {
    --global-padding: 2em;
  }

  height: 100%;
  background-color: $primary-dark;
  color: $primary-font;
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
  }
  .c-btn {
    transition: all 0.5s;
    color: $primary-font;
    background-color: $primary;
    font-size: 1em;
    font-weight: 400;
    border: 1px solid $primary-font;
  }

  p {
    font-size: $font-size-5;
    font-weight: 400;
    line-height: $line-height-base;
    margin: 0;
    margin-bottom: $grid-base; //10px
}

h1, h2, h3, h4, h5, h6 {
    font-size: $font-size-4;
    line-height: $line-height-base;
    margin: 0;
}
 
a {
    color: $primary-font;
    text-decoration: none;
    &:hover {
        color: $primary-font;
        text-decoration: underline; //ma byc podkreslnik zolty
    }
} 
img {
  max-width: 100%;
}

}

//-----------mixins------------------------------------
// Od srednich w gore
@mixin medium-up {
  @media (min-width: #{$bp-medium}) {
    //800px#{}bo zapisane jako string
    @content //(tu wstawiam dowolne deklaracje);
  }
}

// Od duzych w gore
@mixin large-up {
  @media (min-width: #{$bp-large}) {
    @content;
  }
}