
// Themes
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$popcorn-app-primary: mat-palette($mat-amber);
$popcorn-app-accent: mat-palette($mat-grey);

// The warn palette is optional (defaults to red).
$popcorn-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$popcorn-app-theme: mat-light-theme($popcorn-app-primary, $popcorn-app-accent, $popcorn-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($popcorn-app-theme);

@mixin mix-app-theme($app-theme) {
    $primary: map-get($app-theme, primary);
    $accent: map-get($app-theme, accent);

    :root {
        --popcorn-primary: #{mat-color($primary)};
        --popcorn-primary-dark: #{mat-color($accent, darker)};
        --popcorn-accent: #{mat-color($accent)};
        --popcorn-warn: #{mat-color($accent)};
    }
    .mat-button-toggle {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
      }
    
       .mat-button-toggle-checked {
        background-color: mat-color($accent);
        color: mat-color($accent, darker-contrast);
      }
    }
    
     @include mix-app-theme($popcorn-app-theme);
    
     html,
    body {
      height: 100%;
      background-color: var(--popcorn-primary);
    }
